.active_button{
    background-color: #72BE43;
    width: 160px;
    height: 39px;
    color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

button {
    border: 1px solid #72BE43;
    width: 160px;
    border-radius: 5px;
    color: #fff !important;
    transition: all .5s ease-in-out;
}

.buy {
    background-color: #72BE43;
    width: 100%;
    margin-top: 24px;
    height: 39px;
    color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

button:hover .buy {
    background-color: #619e3a;
} 

button:hover {
    background-color: #619e3a;
}