#trapezoid {
    border-bottom: 50px solid #aff14d;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 80%;
    opacity: .7;
    filter: drop-shadow(0px 110px 75px #aff14d);
  }


  .container {
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    justify-content: center; /* căn giữa theo chiều ngang */
    flex-direction: column;
  }

